<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <!--
      客户端配置：
              方法1、自我寄宿配置方法
              方法2、IIS寄宿配置方法
  -->
  
  <!-- 方法1-1 的配置方式 通过添加引用服务 自己创建了服务契约-->
   
    <!--<system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_CalculatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint 
                address="http://127.0.0.1:3721/calculatorservice" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_CalculatorService" 
                contract="ServiceReference1.CalculatorService"
                name="WSHttpBinding_CalculatorService">
                <identity>
                    <userPrincipalName value="KEVIN-CHEN\Kevin.Chen" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>-->
  
  
  <!--方法1-2 的配置 此处的contract配置值和Hostingcontract配置值一样，共用服务契约-->
  <!-- 自我寄宿 ： address="http://127.0.0.1:3721/calculatorservice" -->
  <!--<system.serviceModel>
    <client>
      <endpoint
          address = "http://127.0.0.1:3721/calculatorservice"
          binding="wsHttpBinding"
          contract="Service.Interface.ICalculator"
          name="calculatorservice">
        <identity>
          <userPrincipalName value="KEVIN-CHEN\Kevin.Chen" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>-->


  <!-- 方法2：IIS寄宿 
      客户端仅仅需要修改终结点的地址，从而转向对寄宿于IIS下的CalculaotrService的访问，改地址几位.svc文件的网络地址：http://192.168.0.150:8012/CalculatorService.svc
  -->
  <!--address = "http://127.0.0.1/wcfservice/calculatorservice.svc"-->
  <system.serviceModel>
    <client>
      <endpoint    
          address ="http://192.168.0.150:8012/CalculatorService.svc"
          binding="wsHttpBinding"
          contract="Service.Interface.ICalculator"
          name="calculatorservice">
        <identity>
          <userPrincipalName value="KEVIN-CHEN\Kevin.Chen" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
</configuration>