<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
  <!-- 配置终结点和服务行为 -->
  <system.serviceModel>
      <!-- 服务行为 -->
      <behaviors>
        <serviceBehaviors>
          <behavior name="metadataBehavior">
            <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3721/calculatorservice/metadata"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <!-- 终结点 -->
      <services>
        <service name="Service.CalculatorService" behaviorConfiguration="metadataBehavior">
          <endpoint address="http://127.0.0.1:3721/calculatorservice"
                    binding="wsHttpBinding"
                    contract="Service.Interface.ICalculator"/> 
        </service>
      </services>
    </system.serviceModel>
  
</configuration>